*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
}
/* main-conatiner style */
  .main-conatiner{
    width: 70vw;
    margin: auto;
  }
/* main-conatiner style */

.ReadmoreButton {
  display: inline-block;
  border-radius: 4px;
  background-color: orange;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* navbar style ======>> */
.navContant{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 3;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 80px;
}
.NavbarItems{
    padding-top: 1%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: 70vw;
    margin: auto;
}
.navbar-logo{
  position: absolute;
  font-size: 30px;
  color: #FFFFFF;
  justify-self: start;
  cursor: pointer;
}
.nav-menu{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 5px;
  list-style: none;
  width: 100%;
  justify-content: end;
  margin-right: 2rem;
}
.nav-links{
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-links:hover {
  background-color: rgb(110, 98, 219);
  border-radius: 3px;
}
.menu-icone{
  display: none;
}
/* navbar style ======>> */


/* card section */
.card{
  display: flex;
  justify-content: space-around;
  padding: 6px;
}
.card div{
  flex:1;
}
.Cardcontant{
  width: 100%;
  padding: 8px;
  border: 2px solid rgb(54 68 52 / 8%);
  border-radius: 10px;
}
.cardText{
  padding: 10px;
  font-size: 15px;
  font-weight: 100;
}
.Cardimages{
  border-radius: 4px;
}
/* card section */

/* banner style */
.banner{
  width: 100%;
  padding: 0px;
  border-radius: 8px;
  margin: auto;
  /* border: 1px solid rgb(54 68 52 / 8%); */
  
  
}
#bannerImg{
  border-radius: 0px;
  /* border: 8px solid orange; */
  margin: auto;
}
/* banner style */


/* bottom section style */
.bottomsection{
margin-top: 20px;
display: flex;
justify-content: space-around;
padding: 8px;
border: 2px solid rgb(54 68 52 / 8%);
border-radius: 10px;
}
.Bottomimages{
  border-radius: 10px;
}
.bottomText{
  flex: 1.5;
  padding: 10px;
  font-weight: 100;
  font-size: 15px;
  padding-top: 20px;
}
.bottomimagecontant{
  width: 50%;
}
/* bottom section style */



/* contact us form style===>> */
 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: auto;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .HTcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:50%;
    margin:auto;
    text-align: center;
  } 
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .HTrow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* footer  section style */
  .footerCompo{
    padding-top: 40px;
    padding-bottom: 40px; 
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footerCompo .footerLink{
    width: fit-content;
    text-align: center;
    margin-right: auto;
  }

  .footerLink ul li{
  padding: 5px;
  color: whitesmoke;
  list-style: none;
  }
  .footerLink li a{
    text-align: center;
    color: orange;
    text-decoration: none;
    border-bottom: 1px solid gray;
  }


/* userTable style */
.userTablecontant{
  padding: 10px;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
}
.userTable{
  
  width: 100%;
  font-size: x-small;
  color: #FFFFFF;
}
.userTable th{
  background-color: cornflowerblue;
  text-transform: uppercase;
  padding: 10px;
}
.userTable td{
  background-color: #4caf50;
  padding: 5px;
}
.viewUser{
  list-style: none;
  text-align: left;
}
.viewUser li{
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid gray;
}
/* userTable style */


/* footer  section style */


  /* all @media */
  @media screen and (max-width: 1200px) {
    .main-conatiner{
      width: 80vw;
      align-items: center;
      margin: auto;
    }
    .NavbarItems {
      position: relative;
      width: 80%;
      margin: auto;
  }
  .nav-links {
    padding: 0.5rem 0.5rem;
    font-size: 17px;
}
  .cardText{
    padding: 10px;
    font-size: 15px;
  }
  .footerCompo{
    width: 80vw;
  }
  
  }

  @media screen and (max-width: 768px) {
    .main-conatiner{
      width: 100vw;
      align-items: center;
      margin: auto;
    }
    .NavbarItems {
      position: relative;
      width: 100%;
      margin: auto;
  }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100vh;
      position: absolute;
      font-size: 17px;
      top: 80px;
      left: -80%;
      padding-left: 20px;
      opacity: 1;
      transition: all 0.5s ease;
  }
  .nav-menu.active{
    background-color: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links{
    padding: 1rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: rgb(110, 98, 219);
    border-radius: 3px;
  }
  .navbar-logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icone{
    display: block;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .ReadmoreButton {
    font-size: 10px;
}
.Cardcontant{
  font-size: 13px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 6px;
}
.cardText{
  padding: 10px;
  font-size: 15px;
}
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .bottomimagecontant{
    width: 100%;
  }
  .bottomsection{
    display: flex;
    flex-direction: column;
    }
    .footerCompo{
      width: 100vw;
    }
    .HTcontainer {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      width:70%
    } 
  
}
@media screen and (max-width: 500px) {
  .userTable{
    display: none;
  }
}
  @media screen and (max-width: 360px) {
    .main-conatiner{
      width: 100vw;
      margin: auto;
    }
    .HTcontainer{
    width: 98%;
    }
    .headerContainer{
      width: 100%;
    }
    .cardText{
      padding: 10px;
      font-size: 15px;
    }

  .ReadmoreButton {
    font-size: 10px;
}
.footerCompo{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.footerCompo .footerLink{
  width: 100%;
  text-align: center;
}
.footerLink ul li {
  font-size: 17px;
}
.HTcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 7px;
  width:100%
} 
  } 