*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
/* navbar style ======>> */
.navContant{
    /* background-color: black;
    height: 80px;
    width: 100%;
    position: fixed; */
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 3;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 80px;
}
.NavbarItems{
    padding-top: 1%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
}
.navbar-logo{
  position: absolute;
  font-size: 30px;
  color: #FFFFFF;
  justify-self: start;
  /* margin-left: 20px; */
  cursor: pointer;
}
.nav-menu{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  width: 100%;
  justify-content: end;
  margin-right: 2rem;
}
.nav-links{
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-links:hover {
  background-color: rgb(110, 98, 219);
  border-radius: 3px;
}
.menu-icone{
  display: none;
}
@media screen and (max-width: 1200px) {

.NavbarItems {
  position: relative;
  width: 80%;
  margin: auto;
}
.nav-menu {
  grid-gap: 3px;
  width: 100%;
}
}
@media screen and (max-width: 960px) {
  .navbar-logo {
    position: relative;
    font-size: 30px;
    padding: 20px;
}
  .navContant {
    background-color: #f29d01;
}
  .NavbarItems {
    padding-top: 0%;
    position: relative;
    width: 100%;
    margin: auto;
}
  .nav-menu{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
  }
  .nav-menu.active {
    background-color: black;
    left: 0;
    opacity: 1;
    z-index: 1;
  }
  .nav-links:hover {
    background-color: rgb(110, 98, 219);
    border-radius: 3px;
  }
  .nav-links{
    /* text-align: center; */
    /* padding: 2rem; */
    width: 100%;
    display: table;
  }
  .navbar.logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icone{
    color: #FFFFFF;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
/* navbar style <<======*/
.cardGrid{
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
  /* grid-column-gap:10px; */
  /* flex-wrap: wrap; */
}
.Bodyimages{
  border-radius: 8px;
}
.ReadmoreButton {
  display: inline-block;
  border-radius: 4px;
  background-color: orange;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.Cardcontant{
  padding: 8px;
  border: 2px solid rgb(54 68 52 / 8%);
  border-radius: 10px;
}
/* boody section card style */



/* footer  section style */
.footerLink{
  padding-top: 40px;
  padding-bottom: 40px;
 }
.footerLink ul li{
 padding: 5px;
 color: whitesmoke;
 list-style: none;
 border-bottom: 1px solid gray;
}
.footerLink li a{
  text-align: center;
  color: orange;
  text-decoration: none;
 }
/* footer  section style */


/* bottom section style */
.bottomsection{
max-width: 940px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 8px;
border: 2px solid rgb(54 68 52 / 8%);
border-radius: 10px;
}
/* bottom section style */



/* contact us form style===>> */
 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: auto;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .HTcontainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .HTrow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 768px) {
    .navbar-logo {
      position: relative;
      font-size: 28px;
      padding: 24px;
  }
    .HTcontainer{
      width: 90%;
    }
    .nav-menu {
      width: 40%;
      height: 100vh;
      font-size: 17px;
  }
  .ReadmoreButton {
    font-size: 10px;
}
.Bodyimages {
  border-radius: 6px;
  width: -webkit-fill-available;
}
.Cardcontant {
  width: 100%;
  font-size: 14px;
}
.cardGrid{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  flex-wrap: wrap;
}
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* contact us form style===>> */

  @media screen and (max-width: 360px) {
    .navbar-logo {
      position: absolute;
      font-size: 22px;
  }
    .NavbarItems {
      padding-top: 8%;
  }
    .nav-menu {
      width: 50%;
      height: 100vh;
      font-size: 16px;
  }
    .cardGrid{
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      padding: 8px;
      flex-wrap: wrap;
    }
    .HTcontainer{
    width: 98%;
    }
    .headerlogo{
      display: none;
    }
    .headerContainer{
      width: 100%;
    }
    .HeaderMenu li {
    display: inline-block;
    font-size: 13px;
    list-style: none;
    padding: 25px 0px 25px 0px;
  }
  .ReadmoreButton {
    font-size: 10px;
}
.Cardcontant{
  font-size: 13px;
}
.footerLink ul li {
  font-size: 13px;
  padding: 0px;
}
  } 
/* <===contact us form style */